[submodule "week2/wavelet"]
	path = week2/wavelet
	url = https://github.com/ucsd-cse15l-f23/wavelet
	ignore = dirty
[submodule "week4/lab3"]
	path = week4/lab3
	url = git@github.com:Yariazen/lab3.git
	ignore = dirty
[submodule "week5/path-examples"]
	path = week5/path-examples
	url = https://github.com/ucsd-cse15l-f22/path-examples
	ignore = dirty
[submodule "week5/docsearch"]
	path = week5/docsearch
	url = https://github.com/Yariazen/docsearch
	ignore = dirty
[submodule "week8/chat-server-pro"]
	path = week8/chat-server-pro
	url = git@github.com:Yariazen/chat-server-pro.git
	ignore = dirty
